@font-face {
    font-family: font-game;
    src: url(../assist/25-03-2023-10-17-06-06-03-2023-09-20-49-fontgame.ttf);
}

.bgGame {
    width: 100vw;
    height: 100vh;
    font-size: 40px;
    font-family: font-game;
}